# DB URL
DATABASE_URL="postgresql://john:doe@localhost:5432/master-bot?schema=public"
SHADOW_DB_URL="postgresql://john:doe@localhost:5432/master-bot-shadow?schema=public"

# Bot Token
DISCORD_TOKEN=""

# NextAuth Configuration
NEXTAUTH_SECRET="youshallnotpass"
NEXTAUTH_URL=
NEXTAUTH_URL_INTERNAL=http://localhost:3000
NEXT_PUBLIC_INVITE_URL="https://discord.com/api/oauth2/authorize?client_id=1325192620414210068&permissions=8&scope=bot"

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Lavalink
LAVA_HOST="localhost"
LAVA_PASS="youshallnotpass"
LAVA_PORT=2333
LAVA_SECURE=false
LAVA_EXTERNAL=false

# YouTube
YOUTUBE_REFRESH_TOKEN=""
YOUTUBE_API_KEY=""

# Spotify
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""

# Twitch
TWITCH_CLIENT_ID=""
TWITCH_CLIENT_SECRET=""

# Other APIs
KLIPY_API=""
NEWS_API=""
GENIUS_API=""

# Feature Flags (Enable or disable specific bot modules dynamically)
LAVA_ENABLED=false               # NOTE: LAVA_ENABLED defaults to false for now due to breaking changes with the lavalink v4 that still need to be fixed.
GIFS_ENABLED=true
TWITCH_ENABLED=true
NEWS_ENABLED=true
